<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @campaign.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @campaign.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @campaign.fecha_fin %>
</p>

<p>
  <strong>Segmento cliente:</strong>
  <%= @campaign.segmento_cliente %>
</p>

<p>
  <strong>Lista distribucion clientes:</strong>
  <%= @campaign.lista_distribucion_clientes %>
</p>

<p>
  <strong>Lista productos:</strong>
  <%= @campaign.lista_productos %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
